@{
    ViewData["Title"] = "Confirmação de deletar usuário";
}

<div class="text-center">

    <h1 class="display-5">Cadastrar Usuário</h1>
</div>

<div class="text-center">
    <h4>Deseja deletar o usuário(Joao)?</h4>
</div>

<a class="btn btn-danger" role="button" asp-controller="Usuarios" asp-action="Deletar">Deletar</a>
<a class="btn btn-primary" role="button" asp-controller="Usuarios" asp-action="Index">Cancelar</a>