@{
    ViewData["Title"] = "Editar usuário";
}

<div class="text-center">

    <h1 class="display-5">Editar Usuário</h1>

</div>

<form>

  <div class="mb-3">
    <label for="Nome" class="form-label">Nome</label>
    <input type="text" class="form-control" placeholder="Digite o nome do usuário">
  </div>

  <div class="mb-3">
    <label for="Cidade" class="form-label">Cidade</label>
    <input type="text" class="form-control" placeholder="Digite a cidade do usuário">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">E-Mail</label>
    <input type="text" class="form-control" placeholder="Digite o e-mail do usuário">
  </div>

   <div class="mb-3">
    <label for="Telefone" class="form-label">Telefone</label>
    <input type="text" class="form-control" placeholder="Digite o telefone do usuário">
  </div>

  <button type="submit" class="btn btn-primary">Alterar</button>
  <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
</form>